@import "../../../styles/variables.scss";

.infoButton_title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: $azul-escuro;
  width: 50vw;

  @media screen and (max-width:900px) {
    width: 75vw;


    
    
  }

    

   &:hover{
            background-color: #519EC5;
            cursor: pointer;
           

        }

  & h3 {
    color: white;
    font-family: $fonte-texto;
    font-weight: 700;
    font-size: 1.5rem;
  }
}

.infoButton-description {
  padding: 1rem 2rem;
  background-color: $azul-claro;
  color: $cinza;
  font-weight: 500;
  font-family: $fonte-texto;
  width: 50vw;
  margin-top: -0.5rem;

   @media screen and (max-width:900px) {
    width: 75vw;


    
    
  }

}

.off {
    display: none;
    transition: display 0.5s ;
}

.toogle {
    
     &:hover{
        cursor: pointer;
       
    }
}
