$azul-escuro :#2E7BA2;
$azul-claro : rgba(200, 222, 239, 1);
$fonte-texto:'Raleway', sans-serif;
$fonte-titulo: 'Calistoga' normal;
$gradient-verão: linear-gradient(180deg, #BFDAE6 0%, #FCF0DD 50%, #FACF9D 100%);
$cinza:#444444;
$mostarda : rgba(223, 144, 16, 1)


